.vscode/*
Pipfile
torrentlan/*
data/.logs/*
configs/identity.json
configs/file_transfer_node_config.json
configs/base_dir.json
*.pyc
dist/*
data/.db/*.db
!dist/*.whl
build/*
test_folders/
iitj_specific/*