.header{
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: strech;
}

.heading{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.rightCollapseButtonContainer{
    justify-content: left;
    
    
    display: flex;
}

.rightCollapseButton{
    padding: 5px 10px;
}
.rightCollapseButton:hover{
    border: 1px solid white;
}

.rightSideBarWrapper{
    overflow: hidden;
}